/*global css*/
:root{
    /*primary*/
    --orange:hsl(25, 97%, 53%);
    /*neutral*/
    --white:hsl(0, 0%, 100%);
    --light-grey:hsl(217, 12%, 63%);
    --medium-grey:#272f34;
    --dark-blue:#1c232d;
    --very-dark-blue:#141519;
}

html{
    font-size: calc(15px + 0.390625vw);
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Overpass',sans-serif;
    overflow: hidden;
    margin: 0;
    background-color: var(--very-dark-blue);
}

main{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-container{
    background-color: var(--dark-blue);
    color: var(--white);
    height: 45%;
    width: 75%;
    border-radius: 10px;
    padding-inline: calc(20px + 1.5625vw);
    padding-top: calc(20px + 1.5625vw);
    padding-bottom: calc(20px + 1.5625vw);

    display: grid;


}
/*
.component-container *{
    margin: 0;
}*/



.rating-icon{
    background-color: var(--medium-grey);
    border-radius: 100%;
    padding: calc(8px + 1.5625vw);
    aspect-ratio: 1;
}

.rating-title{
    font-size: 1.4rem;
}

.rating-desc{
    color: var(--light-grey);
    font-size: .85rem;
    font-weight: 400;
}

.rating-choices-container{
    display: flex;
    color: var(--light-grey);
    justify-content: space-between;
    margin-bottom:calc(5px + 1.5625vw);
}

.rating-choices{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: var(--medium-grey);
    border-radius: 100%;
    /*padding: calc(0px + 1.5625vw);*/


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.submit-button{
    background-color: var(--orange);
    border: none;
    color: var(--white);
    border-radius: 20px;
    width: 100%;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .15rem;
    padding: calc(6px + 1.5625vw);

}

.attribution{
    color: var(--white);
}

/*design for desktop*/
@media only screen and (min-width:768px){

}
